.modal {
	position: absolute;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	background-color: #f0f0f0;
	color: #333;
	width: 30%; /* Set the width of the modal */
	z-index: 1;
  }
  
  /* Media Query for responsiveness */
  @media (max-width: 768px) {
	.modal {
	  width: 90%; /* Set a smaller width for smaller screens */
	}
  }
  
  .span {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: rgb(16, 188, 16);
  }
  
  .form-group {
	margin-bottom: 20px;
  }
  
  .login_btn {
	background-color: limegreen;
	font-family: 'Courier New', Courier, monospace;
	color: #000000;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease;
	width: 100%;
  }
  
  .login_btn:hover {
	background-color: #555;
  }
  