.hive_box {
  border-radius: 12px;
  border: 1px solid limegreen;
  padding: 2em;
  overflow: auto;
  font-family: 'Courier New', monospace;
}

.header {
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  color: limegreen;
  padding: 10px;
}

.hive_avatar {
  border-radius: 20px;
  border: 5px solid limegreen;
}

.hive_name {
  color: limegreen ;
}

.hive_balance_container {
  display: flex;
  justify-content: stretch;
  flex-direction: row; 
  margin-top: 2em;
  overflow-x: hidden; /* Add this line to enable horizontal scrolling when there's not enough space */
}

.hive_token_container {
  align-items: center;
  border-radius: 15px;
  margin-right: 1em; /* Add some margin to the right of each token container */
}

.token_container:hover {
  background-color: #433737; /* Change the background color when hovering over the container */
}

.image_container {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-right: 1em;
}

.token_info {
  gap: 0.5em;
  font-weight: 700;
}

.balance {
  color: limegreen;
}

.token_symbol {
  color: #ffffff;
}
