.profile_container {
  position: relative;
}

.cover {
  width: 100%;
  height: 250px;
  background-size: cover;
  border-radius: 10px;
  border: 2px solid limegreen;
  z-index: 0;
}

.avatar_container {
  position: absolute;
  top: 50%;
  left: 10px;
  display: flex;
  align-items: center;
  transform: translateY(-165%);
  z-index: 1; /* Add this line */
}

  .cover {
    width: 100%;
    height: 250px;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid limegreen;
    z-index: 0;
  }
  

  .avatar {
    width: 160px;
    height: 160px;
    border-radius: 10%;
    border: 2px solid limegreen;
  }
  
  .name {
    font-size: 36px;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    background-color: lime;
    border-radius: 10px;
    font-weight: bold;
    border: black 1px solid;
  }
  
  @media (max-width: 767px) {
    /* Mobile layout */
    .avatar_container {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -1350%);
      flex-direction: column;

    }
  
    .name {
      margin-top: 10px;
      margin-left: 0;
      text-align: center;
    }
  }
  
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: limegreen;
    text-align: center;
  }
  
  .h2 {
    color: limegreen;
  }
  


