.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 20px;
}

@media (max-width: 994px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.inputGroup {
  color: limegreen;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: black;
  border: limegreen solid 1px;
  padding: 10px;
}

.inputBody {
  color: limegreen;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: black;
  border: limegreen solid 1px;
  padding: 10px;
}

.h2 {
  margin-bottom: 5px;
  color: #fff;
}

.textarea {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  resize: vertical;
  box-sizing: border-box; /* Add this line */
}


.submitButton {
  padding: 10px 20px;
  background-color: #f5f10b;
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.submitButton:hover {
  background-color: #1a73e8;
}

.input {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  width: 100%;
}

.previewContainer {
  color: limegreen;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid limegreen;
  border-radius: 4px;
  background-color: #090909;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}
