
.wallet_dashboard {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 20px;
padding: 20px;
}

@media (max-width: 768px) {
.wallet_dashboard {
    grid-template-columns: 1fr;
}
}


.wallet_dashboard {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 20px;
padding: 20px;
}

@media (max-width: 768px) {
.wallet_dashboard {
    grid-template-columns: 1fr;
}
}

