html,
body {
	background-color: rgb(9, 9, 9);
	font-family: 'Courier New', monospace;

}


@media (prefers-color-scheme: dark) {
	html {
	}
}


/* Common styles for iframe */
iframe {
	border-radius: 10px;
	border: limegreen solid 1px;
	
  }
  
  /* Styles for desktop */
  @media (min-width: 768px) {
	iframe {
	  margin: 5%;
	  height: 40vh;

	}
  }
  
  /* Styles for mobile */
  @media (max-width: 767px) {
	iframe {
	  margin: 0;
	  width: 100%;
	  max-width: 100%;
	  height: 40vh;
	}
  }
  

/* This will affect the scrollbar globally */
::-webkit-scrollbar {
	width: 2px; /* width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
	background: #bee9b6; /* color of the tracking area */
  }
  
  ::-webkit-scrollbar-thumb {
	background: #34ab4c; /* color of the scroll thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #388924; /* color of the scroll thumb on hover */
  }
  * {
	scrollbar-width: thin; /* "auto" or "thin"  */
	scrollbar-color: #17d874 #1fcd25; /* scroll thumb and track */
  }




  