.modalOverlay{
z-index: -1;
border: 1px solid #ccc;
padding: 20px;
border-radius: 10px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.2s ease-out;
background-color: aqua;
color: yellow
}
