.sideMenu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 2rem;
  padding: 20px;
  position: sticky;
  top: 0;
}

.open {
  display: flex;
  padding-top: 20px;
}

.closed {
  display: none;
}

.menuItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuItems li {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #ccc5c5;
  background-color: rgb(33, 201, 24);
  border-radius: 5px;
  justify-content: flex-start;
  width: 100%;
}

.menuItems li svg {
  margin-right: 7px;
}

.menuItems li:hover {
  cursor: pointer;
  background-color: rgb(255, 204, 0);
}

.menuItems li:hover svg {
  color: #f71b07;
}

.iconMenu {
  color: #f7a307;

}

.closed .menuItems li {
  margin-top: 0;
  margin-bottom: 0;
  color: #f7a307;
}

.menu {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #ccc5c5;
  background-color: rgb(33, 201, 24);
  border-radius: 5px;
  justify-content: center;
  padding: 5px;
  width: 100%;
}


.menu svg {
  margin-right: 7px;
}

.menu:hover {
  cursor: pointer;
  background-color: rgb(255, 204, 0);
}

.menu:hover svg {
  color: #f71b07;
}
